@{
  Layout = "_Layout";
}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Pierre's Vendor and Order Manager</h1>
    <p class="lead">Your one-stop place to manage your vendors and their orders.</p>
  </div>
</div>
