@{
  Layout = "_Layout";
}

<h1>Add a Vendor</h1>

<form action="/vendors" method="post">
  <label for="name">Vendor Name: </label>
  <input id="name" name="name" type="text">
  <label for="description">Vendor Description: </label>
  <input id="description" name="description" type="text">
  <button class="btn btn-primary" type="submit">Add</button>
</form>
