@{
  Layout = "_Layout";
}
<h1>Order Summary</h1>
<h2>Order Number: @Model["order"].OrderNumber</h12>
  <h3>Description: @Model["order"].Description</h3>
  <h3>Order Date: @Model["order"].OrderDate</h3>
  <h3>Order Price: $@Model["order"].Price</h3>

  <a href="/">Go Home</a>
  <a href='/Vendors/@Model["vendor"].Id'>View @Model["vendor"].Name Orders</a>
